@font-face {
  font-family: "Flaticon";
  src: url("/fonts/Flaticon.eot");
  src: url("/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Flaticon.woff2") format("woff2"),
       url("/fonts/Flaticon.woff") format("woff"),
       url("/fonts/Flaticon.ttf") format("truetype"),
       url("/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
}

.flaticon-pin:before { content: "\f100"; }
.flaticon-phone-call:before { content: "\f101"; }
.flaticon-clock:before { content: "\f102"; }
.flaticon-ui:before { content: "\f103"; }
.flaticon-business-presentation:before { content: "\f104"; }
.flaticon-web-development:before { content: "\f105"; }
.flaticon-website:before { content: "\f106"; }
.flaticon-market:before { content: "\f107"; }
.flaticon-add-to-cart:before { content: "\f108"; }
.flaticon-bank:before { content: "\f109"; }
.flaticon-bank-building-silhouette:before { content: "\f10a"; }
.flaticon-business-intelligence:before { content: "\f10b"; }
.flaticon-business-and-finance:before { content: "\f10c"; }
.flaticon-rocket:before { content: "\f10d"; }
.flaticon-shuttle:before { content: "\f10e"; }
.flaticon-charity:before { content: "\f10f"; }
.flaticon-profit:before { content: "\f110"; }
.flaticon-shield:before { content: "\f111"; }
.flaticon-play-button:before { content: "\f112"; }
.flaticon-reload:before { content: "\f113"; }
.flaticon-next:before { content: "\f114"; }
.flaticon-search:before { content: "\f115"; }
.flaticon-calendar:before { content: "\f116"; }
.flaticon-calendar-1:before { content: "\f117"; }
.flaticon-locator:before { content: "\f118"; }
.flaticon-telephone:before { content: "\f119"; }
.flaticon-email:before { content: "\f11a"; }
.flaticon-time:before { content: "\f11b"; }
.flaticon-google-drive-pdf-file:before { content: "\f11c"; }
.flaticon-blank-page:before { content: "\f11d"; }
.flaticon-mail:before { content: "\f11e"; }
.flaticon-menu:before { content: "\f11f"; }
.flaticon-menu-1:before { content: "\f120"; }
.flaticon-user:before { content: "\f121"; }
.flaticon-cog:before { content: "\f122"; }
.flaticon-next-1:before { content: "\f123"; }
.flaticon-right-arrow:before { content: "\f124"; }
.flaticon-empty-folder:before { content: "\f125"; }
.flaticon-menu-2:before { content: "\f126"; }
.flaticon-business-strategy:before { content: "\f127"; }
.flaticon-business-plan:before { content: "\f128"; }
.flaticon-recycle:before { content: "\f129"; }
.flaticon-name:before { content: "\f12a"; }
.flaticon-identification:before { content: "\f12b"; }
.flaticon-identification-1:before { content: "\f12c"; }
.flaticon-pen:before { content: "\f12d"; }
.flaticon-squares:before { content: "\f12e"; }
.flaticon-calendar-2:before { content: "\f12f"; }
.flaticon-user-1:before { content: "\f130"; }
.flaticon-right:before { content: "\f131"; }
.flaticon-sand-clock:before { content: "\f132"; }
.flaticon-log-out:before { content: "\f133"; }
.flaticon-pen-1:before { content: "\f134"; }
.flaticon-minimize:before { content: "\f135"; }
.flaticon-user-2:before { content: "\f136"; }
.flaticon-notepad:before { content: "\f137"; }
.flaticon-user-3:before { content: "\f138"; }
.flaticon-add-user:before { content: "\f139"; }
.flaticon-tie-1:before { content: "\f13a"; }
.flaticon-in:before { content: "\f13b"; }
.flaticon-letter:before { content: "\f13c"; }
.flaticon-archives:before { content: "\f13d"; }
.flaticon-in-1:before { content: "\f13e"; }
.flaticon-torch:before { content: "\f13f"; }
.flaticon-event:before { content: "\f140"; }
.flaticon-bag:before { content: "\f141"; }
.flaticon-tissue-roll:before { content: "\f142"; }
.flaticon-bell:before { content: "\f143"; }
.flaticon-user-4:before { content: "\f144"; }
.flaticon-event-1:before { content: "\f145"; }
.flaticon-tick:before { content: "\f146"; }
.flaticon-verified:before { content: "\f147"; }
.flaticon-message:before { content: "\f148"; }
.flaticon-left-arrow:before { content: "\f149"; }
.flaticon-ban:before { content: "\f14a"; }
.flaticon-writing:before { content: "\f14b"; }
.flaticon-cancel:before { content: "\f14c"; }
.flaticon-paper:before { content: "\f14d"; }
.flaticon-calendar-3:before { content: "\f14e"; }
.flaticon-cpu:before { content: "\f14f"; }
.flaticon-atm-card:before { content: "\f150"; }
.flaticon-shopping-cart:before { content: "\f151"; }
.flaticon-user-5:before { content: "\f152"; }
.flaticon-more:before { content: "\f153"; }
.flaticon-contact-book:before { content: "\f154"; }
.flaticon-sand-clock-1:before { content: "\f155"; }
.flaticon-tick-1:before { content: "\f156"; }
.flaticon-contact-information:before { content: "\f157"; }
.flaticon-profile:before { content: "\f158"; }
.flaticon-achievement:before { content: "\f159"; }
.flaticon-page:before { content: "\f15a"; }
.flaticon-network:before { content: "\f15b"; }
.flaticon-conference:before { content: "\f15c"; }
.flaticon-user-6:before { content: "\f15d"; }
.flaticon-right-arrow-1:before { content: "\f15e"; }
.flaticon-website-1:before { content: "\f15f"; }
.flaticon-think:before { content: "\f160"; }
.flaticon-next-2:before { content: "\f161"; }
.flaticon-right-1:before { content: "\f162"; }
.flaticon-right-arrow-2:before { content: "\f163"; }
.flaticon-map:before { content: "\f164"; }